<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="kr.co.dong.projectMapper">
  
  <select id="product_totalRecord" resultType="int">
		select count(*) from product
		where del = 0
  </select>
  
  <select id="mypage_totalRecord" parameterType="String" resultType="int">
		select count(*) from buy
		where buy_userid = #{user_id}
  </select>
  
  <select id="address_totalRecord" parameterType="String" resultType="int">
		select count(*) from address
		where address_userid = #{user_id}
  </select>
  
  <select id="cart_totalRecord" parameterType="String" resultType="int">
		select count(*) from cart
		where cart_userid = #{user_id}
  </select>
  
  <select id="totalReview" parameterType="String" resultType="int">
		select count(*) from boards
		where boards_category = 1 and boards_productid = #{product_id}
  </select>
  
  
  
  <update id="boardsReadCnt" parameterType="int">
		update boards
		set
		boards_readcnt = boards_readcnt + 1
		where boards_no = #{boards_no}
  </update>
  
  
  <select id="productDetail" parameterType="String" resultType="ProductVO">
		select *
		from product
		where product_id = #{product_id}
	</select>
  
  
  
  
  
  
  
  <select id="listProduct" parameterType="map" resultType="ProductVO">
	  SELECT *
      FROM product
      where del = 0
      order by product_id
      LIMIT #{start}, #{pageSIZE}
  </select>
  
  <select id="listMypage" parameterType="map" resultType="BuyVO">
	  SELECT *
      FROM buy
      where buy_userid = #{user_id}
      order by buy_no desc
      LIMIT #{start}, #{pageSIZE}
  </select>
  
  <select id="listBuy" parameterType="String" resultType="BuyVO">
	  SELECT *
      FROM buy
      where buy_userid = #{user_id}
  </select>
  
   <select id="listBuydetail" parameterType="java.lang.Integer" resultType="BuydetailVO">
	    select * 
	    from buydetail 
	    where buydetail_buyno in 
	    <foreach collection="array" item="buyno" open="(" separator="," close=")">
	        #{buyno}
	    </foreach>
	</select>
  
   <select id="mypageDetailProduct" parameterType="java.lang.String" resultType="ProductVO">
	    select * 
	    from product 
	    where product_id in 
	    <foreach collection="array" item="productno" open="(" separator="," close=")">
	        #{productno}
	    </foreach>
	</select>
  
  
  
  <select id="listProductVoid" resultType="ProductVO">
	  SELECT *
      FROM product
      where del = 0
      order by product_id
  </select>
  
  <select id="listAddress" parameterType="String" resultType="AddressVO">
		select *
		from address
		where address_userid = #{user_id}
  </select>
  
  <select id="listCart" parameterType="String" resultType="CartVO">
		select *
		from cart, product
		where cart.cart_productid = product.product_id and cart_userid = #{user_id}
  </select>
  
  
  
  
  <select id="reviewlist" parameterType="String" resultType="BoardsVO">
		select *
		from boards
		where boards_productid = #{product_id} and boards_category = 1
  </select>
  
  
  
  
  
  
  
  <select id="projectLogin" parameterType="map" resultType="map">
  		select *
  		from user
  		where user_id=#{user_id} and user_password=#{user_password}  		
  </select>	
  
  
  
  
  
  
  <insert id="join" parameterType="UserVO">
		insert into 
		user (user_id, user_name, user_password, user_email, user_birth, user_admin, user_phone, user_joindate)
		values (#{user_id}, #{user_name}, #{user_password}, #{user_email}, #{user_birth}, 0, #{user_phone}, curdate())
  </insert>
  
  <insert id="pay" parameterType="BuyVO">
		insert into 
		buy (buy_userid, buy_regdate, buy_amount, buy_address, buy_receive)
		values (#{buy_userid}, curdate(), #{buy_amount}, #{buy_address}, #{buy_receive})
  </insert>
  
  <insert id="review" parameterType="BoardsVO">
		insert into 
		boards (boards_title, boards_content, boards_userid, boards_regdate, boards_readcnt, boards_category, del)
		values (#{boards_title}, #{boards_content}, #{boards_userid}, now(), 0, 1, 0)
  </insert>
  
  <insert id="faq" parameterType="BoardsVO">
		insert into 
		boards (boards_title, boards_content, boards_userid, boards_regdate, boards_readcnt, boards_category, del)
		values (#{boards_title}, #{boards_content}, #{boards_userid}, now(), 0, 2, 0)
  </insert>
  
  <insert id="notice" parameterType="BoardsVO">
		insert into 
		boards (boards_title, boards_content, boards_userid, boards_regdate, boards_readcnt, boards_category, del)
		values (#{boards_title}, #{boards_content}, #{boards_userid}, now(), 0, 3, 0)
  </insert>
  
  
  
  <insert id="productRegister" parameterType="ProductVO">
		insert into 
		product (product_id, product_name, product_price, product_content, product_category, product_remain, product_sales)
		values (#{product_id}, #{product_name}, #{product_price}, #{product_content}, #{product_category}, #{product_remain}, 0)
  </insert>
  
  <delete id="productDelete" parameterType="String">
  		update product
  		set del = 1
  		where product_id = #{product_id} 
  </delete>
  
  <update id="productRemainPlus" parameterType="map">
  		update product
  		set product_remain = product_remain + #{product_plus}
  		where product_id = #{product_id}
  </update>
  
  
  
	<!-- 글 수정하는 SQL "update"-->
	<update id="productUpdate" parameterType="ProductVO">
		update product
		set
		product_name=#{product_name} , product_price=#{product_price} , product_category=#{product_category},
		product_content=#{product_content}, product_remain = #{product_remain}
		where product_id = #{product_id}
	</update>
  
   <update id="productAdd" parameterType="map">
  		update product
  		set product_remain = product_remain + #{product_add}
  		where product_id = #{product_id}
   </update>
  
  
  
  
  <insert id="cartRegister" parameterType="map">
		insert into 
		cart (cart_userid, cart_productid, cart_productname, cart_amount)
		values (#{user_id}, #{product_id}, #{product_name}, #{amount})
  </insert>
  
  <update id="cartUpdate" parameterType="map">
		update cart
		set
		cart_amount=#{cart_amount}
		where cart_productid = #{product_id} and cart_userid=#{user_id}
  </update>
  
  
  <update id="cartUpdate123" parameterType="map">
        <foreach collection="list" item="item" separator=";">
        UPDATE 
            cart
        SET
            cart_amount = #{item.cart_amount}
        WHERE
            cart_userid = #{user_id} and cart_productid = #{item.cart_productid}
        </foreach>
  </update>
  
  
  <select id="findCart" parameterType="String" resultType="int">
  		select count(*) from cart
		where cart_productid = #{product_id}
  </select>
  
  <select id="findProductPrice" parameterType="String" resultType="int">
  		select product_price from product
		where product_id = #{product_id}
  </select>
  
  
  
  <!-- 
   <select id="remainCheck" parameterType="list" resultType="int">
  	select count(*) from {
  		select (product.product_remain - cart.cart_amount)sub from { 
	  		<foreach collection="list" item="cart" separator=",">
	  			
	  		</foreach>
  		}
  	}
  </select>
   -->
 
  
  <insert id="buyRegister" parameterType="buyVO">
		insert into 
		buy (buy_userid, buy_regdate, buy_amount, buy_address, buy_receive, buy_totalPrice)
		values (#{user_id}, curdate(), #{totalRecord}, #{buy_address}, #{buy_receive}, #{totalPrice})
 </insert>
  
 <insert id="buyDetailRegister" parameterType="list">
	INSERT INTO 
	buydetail (buydetail_buyno, buydetail_productid, buydetail_amount)
	VALUES
        <foreach collection="list" item="item" separator=",">
        (#{u}, #{item.cart_productid}, #{item.cart_amount})
        </foreach>
 </insert>
  
 <delete id="cartDelete" parameterType="String">
  		delete from 
  		cart
  		where cart_userid = #{user_id} 
 </delete>
 
 <delete id="cartDeleteOne" parameterType="map">
  		delete from 
  		cart
  		where cart_userid = #{user_id} and cart_productid = #{product_id}
 </delete>
  
 <select id="findBuyno" resultType="int">
  		select max(buy_no) from buy
 </select>
 
 <update id="salesUpdate" parameterType="list">
        <foreach collection="list" item="item" separator=";">
        update product
        set product_sales = product_sales + #{item.cart_amount}, product_remain = product_remain - #{item.cart_amount}
        where product_id = #{item.cart_productid}
        </foreach>
  </update>
 
 
  
  <select id="findMainAddress" parameterType="String" resultType="AddressVO">
  		select *
  		from address
  		where address_userid = #{user_id} and address_main = 1
  </select>
  
  <select id="findProductNo" parameterType="String" resultType="int">
		select number from 
		(select product_id, row_number() over (order by product_id) as number from product where del = 0)a 
		where product_id = #{product_id};
  </select>
  
  <select id="findSameCategory" parameterType="map" resultType="ProductVO">
	  SELECT *
      FROM product
      where product_category = #{category} and del = 0 and not product_id = #{product_id}
      order by product_id
  </select>
  
  
  
	<select id="buyDetail" parameterType="int" resultType="buyVO">
		select *
		from buy
		where buy_no = #{buy_no}
	</select>
	
	<select id="buydetailDetail" parameterType="int" resultType="buydetailVO">
		select *
		from buydetail
		where buydetail_no = #{buydetail_no}
	</select>
	
	<update id="cancelUpdateBuy" parameterType="map">
		update buy
		set
		buy_amount = buy_amount - 1, buy_totalPrice = buy_totalPrice - #{buydetailPrice}
		where buy_no = #{buy_no}
	</update>
	
	<update id="cancelUpdateProduct" parameterType="map">
		update product
		set
		product_remain = product_remain + #{amount}, product_sales = product_sales - #{amount}
		where product_id = #{product_id}
	</update>
	
	<delete id="deleteBuydetail" parameterType="int">
  		delete from 
  		buydetail
  		where buydetail_no = #{buydetail_no} 
	</delete>
	
	<delete id="deleteBuy" parameterType="int">
  		delete from 
  		buy
  		where buy_no = #{buy_no} 
	</delete>




  </mapper>